<header id="title" class="josefin">emily has turned thirty!</header>
<div id="addMemory">+ Add your own memory</div>
<div id="memories">
	<div class="memory">
		<h3>Joe</h3>
		<p>
			this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. 
		</p>
	</div>
	<div class="memory">
		<h3>Mrs. Doubtfire</h3>
		<p>
			this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. 
		</p>
	</div>	
	<div class="memory">
		<h3>Your Mother</h3>
		<p>
			this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. 
		</p>
	</div>
	<div class="memory">
		<h3>Mom</h3>
		<p>
			this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. 
		</p>
	</div>
	<div class="memory">
		<h3>An old friend</h3>
		<p>
			this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. 
		</p>
	</div>
	<div class="memory">
		<h3>Nobody</h3>
		<p>
			this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. 
		</p>
	</div>
	<div class="memory">
		<h3>Mr. Darcy</h3>
		<p>
			this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. 
		</p>
	</div>
	<div class="memory">
		<h3>Liz Lemon</h3>
		<p>
			this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. 
		</p>
	</div>
	<div class="memory">
		<h3>Liz Limone</h3>
		<p>
			this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. 
		</p>
	</div>
	<div class="memory">
		<h3>Another Name</h3>
		<p>
			this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. 
		</p>
	</div>
	<div class="memory">
		<h3>We were friends in high school</h3>
		<p>
			this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. 
		</p>
	</div>
	<div class="memory">
		<h3>My Name</h3>
		<p>
			this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. 
		</p>
	</div>
	<div class="memory">
		<h3>Boom Bam Baby</h3>
		<p>
			this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. 
		</p>
	</div>
	<div class="memory">
		<h3>Jared Leto</h3>
		<p>
			this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. 
		</p>
	</div>
	<div class="memory">
		<h3>Abraham Lincoln</h3>
		<p>
			this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. this is my memory of emily. 
		</p>
	</div>
</div>