<!DOCTYPE html>
<html>
<head>
  <title>emily is thirty</title>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400' rel='stylesheet' type='text/css'>
  <script src="lib/jquery-1.7.1.min.js"></script>
  <script src="lib/underscore-min.js"></script>
  <script src="lib/backbone-min.js"></script>
  <script src="lib/require.js" data-main="javascripts/application"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
